body {
	background-color: pink;
	font-family: 'Pacifico', cursive;
}

h1 {
	font-size: 60px;
}

#grid {
	/*width: 835px;*/
	/*height: 835px;*/
	/*width: auto;*/
	/*height: auto;*/
	/*background-color: black;*/
	/*border: 1px solid black;
	margin-top: 15px;*/
}

.unit {
	width: 25px;
	height: 25px;
	background-color: white;
	margin: 1px;
}

.float {
	float: left;
}

.color {
	background-color: red;
}

#gridcontainer {
	margin-top: 4%;
}

.fa-eyedropper {
	vertical-align: middle;
	padding-left: 10px;
	padding-right: 10px;
}
