body {
	background-color: pink;
	font-family: 'Pacifico', cursive;
}

h1 {
	font-size: 60px;
}

.unit {
	width: 25px;
	height: 25px;
	background-color: white;
	margin: 1px;
}

.float {
	float: left;
}

#gridcontainer {
	margin-top: 4%;
}

.fa-eyedropper {
	vertical-align: middle;
	padding-left: 10px;
	padding-right: 10px;
}
